if val.delete === "false"
  .card(id=val._id)
    div.img
      if val.done === "false"
        img(src="../image/x.png" height="50px" width="50px" data-id=val._id).xgoal
      else
        img(src="../image/o.png" height="50px" width="50px" data-id=val._id).ogoal
    a.goal(href=`/goal/${val.goal}`) #{val.goal}
    button.btn.btn-primary.deletegoal(data-id=val._id) delete
