if val.delete === "false"
  .card(id=val._id) 
    if val.done === "false"
      img(src="../image/x.png" height="50px" width="50px" data-id=val._id).xstep
    else
      img(src="../image/o.png" height="50px" width="50px" data-id=val._id).ostep
    h2(id=val.item)  #{val.item}
    button.btn.btn-primary.delete(data-id=val._id) delete
    
